body {
  font-family: 'Raleway', sans-serif;
  background: #c426a9;
}

#container {
  margin: 50px auto;
  max-width: fit-content;
  padding: 20px;
  background: #fff;
  text-align: center;
}

#form-group {
  margin-top: 15px;
  padding: 10px;
}

#form-group input{
  border: #d3caca solid 1px;
  border-radius: 5px;
  width: 90%;
  padding: 10px;
}

.btn {
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  background: #cc26b0;
  border-radius: 10px;
  border: 1px;
  font-size: 1.2em;
  cursor: pointer;
  color: #fff
}

.btn:hover {
  background: #da28bc;
}

a { 
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
  width: 100%;
}

